*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f3f3f3;
    font-family:sans-serif;
}

.container{
    display:grid;

    grid-template-columns:250px 1fr;

    grid-template-areas:
        "header header"
        "nav nav"
        "hero hero"
        "sidebar main"
        "footer footer";

    gap:10px;
    min-height:100vh;
    padding:10px;
}

header{
    grid-area:header;
    background:#131921;
    color:white;
    padding:20px;
}

nav{
    grid-area:nav;
    background:#232f3e;
    padding:15px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
    color:white;
}

.hero{
    grid-area:hero;
    background:white;
    padding:80px;
    text-align:center;
}

aside{
    grid-area:sidebar;
    background:white;
    padding:20px;
}

main{
    grid-area:main;

    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.item{
    width:200px;
    height:150px;
    background:white;
    border:1px solid #ccc;

    display:flex;
    justify-content:center;
    align-items:center;
}

footer{
    grid-area:footer;
    background:#131921;
    color:white;
    text-align:center;
    padding:20px;
}